@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/S6u-w4BMUTPHjxsIPy-v-7a92746aea.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/S6u_w4BMUTPHjxsI9w2PHA-0ab931fb6e.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/S6u8w4BMUTPHjxswWw-18d0a3b94d.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/S6u_w4BMUTPHjxsI5wqPHA-687de91f22.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/S6u_w4BMUTPHjxsI3wiPHA-feccea62ce.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/S6u8w4BMUTPHh30wWw-ff221a24ae.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/S6u9w4BMUTPHh7USew8-c8420ecf9b.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/S6uyw4BMUTPHvxk-bb6b2b677a.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/S6u9w4BMUTPHh6UVew8-773f69a467.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/S6u9w4BMUTPHh50Xew8-39ca3d3873.ttf") format('truetype');
}
