@font-face {
    font-family: 'Leelawadee';
    font-style: normal;
    font-weight: 400;
    src: local('Leelawadee'), url("/sites/www-lolacosmetics-com-br-b005530a/root-8a5edab2/leelawad-743b6ecf4e.woff") format('woff');
}


